<!DOCTYPE html>
<html>
<body>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<table style="width:50%" >
  <% for(var i=0; i < data.length; i++) { %>
  <tr>
    <form action="/file/download" method="post">
    <td align="center" ><%= data[i]%></td>
    <input type="hidden" name="fileName" value= <%= data[i] %> >
    <td><button type="submit">Download</button>
    </td></form>
  </tr>
  <% } %>
</table>


</body>
</html>
